In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame as DF

In [5]:
df = pd.read_csv("input/OnlineNewsPopularity.csv")
df = df.loc[:, "n_tokens_title":]
df

,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,average_token_length,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,12,219,0.663594,1.0,0.815385,4,2,1,0,4.680365,...,0.100000,0.70,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,9,255,0.604743,1.0,0.791946,3,1,1,0,4.913725,...,0.033333,0.70,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,9,211,0.575130,1.0,0.663866,3,1,1,0,4.393365,...,0.100000,1.00,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,9,531,0.503788,1.0,0.665635,9,0,1,0,4.404896,...,0.136364,0.80,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,13,1072,0.415646,1.0,0.540890,19,19,20,0,4.682836,...,0.033333,1.00,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39639,11,346,0.529052,1.0,0.684783,9,7,1,1,4.523121,...,0.100000,0.75,-0.260000,-0.500,-0.125000,0.100000,0.000000,0.400000,0.000000,1800
39640,12,328,0.696296,1.0,0.885057,9,7,3,48,4.405488,...,0.136364,0.70,-0.211111,-0.400,-0.100000,0.300000,1.000000,0.200000,1.000000,1900
39641,10,442,0.516355,1.0,0.644128,24,1,12,1,5.076923,...,0.136364,0.50,-0.356439,-0.800,-0.166667,0.454545,0.136364,0.045455,0.136364,1900
39642,6,682,0.539493,1.0,0.692661,10,1,1,0,4.975073,...,0.062500,0.50,-0.205246,-0.500,-0.012500,0.000000,0.000000,0.500000,0.000000,1100
39643,10,157,0.701987,1.0,0.846154,1,1,0,2,4.471338,...,0.100000,0.50,-0.200000,-0.200,-0.200000,0.333333,0.250000,0.166667,0.250000,1300

In [7]:
# df_arrange = 異常値削除済みDataFrame

df_arrange = df.copy()

df_arrange = df_arrange.drop(31037, axis=0)
df_arrange = df_arrange.drop(39338, axis=0)
df_arrange = df_arrange.drop(34418, axis=0)

df_arrange = df_arrange.reset_index()
df_arrange = df_arrange.drop("index", axis=1)

# df_arrange = df_arrange[df_arrange[""]]
# df_arrange = df_arrange[df_arrange[""]]
df_arrange

,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,average_token_length,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,12,219,0.663594,1.0,0.815385,4,2,1,0,4.680365,...,0.100000,0.70,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,9,255,0.604743,1.0,0.791946,3,1,1,0,4.913725,...,0.033333,0.70,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,9,211,0.575130,1.0,0.663866,3,1,1,0,4.393365,...,0.100000,1.00,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,9,531,0.503788,1.0,0.665635,9,0,1,0,4.404896,...,0.136364,0.80,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,13,1072,0.415646,1.0,0.540890,19,19,20,0,4.682836,...,0.033333,1.00,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39636,11,346,0.529052,1.0,0.684783,9,7,1,1,4.523121,...,0.100000,0.75,-0.260000,-0.500,-0.125000,0.100000,0.000000,0.400000,0.000000,1800
39637,12,328,0.696296,1.0,0.885057,9,7,3,48,4.405488,...,0.136364,0.70,-0.211111,-0.400,-0.100000,0.300000,1.000000,0.200000,1.000000,1900
39638,10,442,0.516355,1.0,0.644128,24,1,12,1,5.076923,...,0.136364,0.50,-0.356439,-0.800,-0.166667,0.454545,0.136364,0.045455,0.136364,1900
39639,6,682,0.539493,1.0,0.692661,10,1,1,0,4.975073,...,0.062500,0.50,-0.205246,-0.500,-0.012500,0.000000,0.000000,0.500000,0.000000,1100
39640,10,157,0.701987,1.0,0.846154,1,1,0,2,4.471338,...,0.100000,0.50,-0.200000,-0.200,-0.200000,0.333333,0.250000,0.166667,0.250000,1300

In [5]:
print(df_arrange["shares"].describe())

count     39641.000000
mean       3395.273883
std       11627.371337
min           1.000000
25%         946.000000
50%        1400.000000
75%        2800.000000
max      843300.000000
Name: shares, dtype: float64

In [8]:
# tl = target_list
#25, 50, 75 =  946, 140, 2800
tl = []
for i in range(len(df_arrange)):
    if df_arrange.loc[i, "shares"] <= 1400:
    # if df_arrange.loc[i, "shares"] <= 2800:
        tl.append(0)

    if df_arrange.loc[i, "shares"] > 1400:
    # if df_arrange.loc[i, "shares"] > 2800:
        tl.append(1)

df_arrange["target"] = tl

# da0 = df_arrange_target_0
# da1 = df_arrange_target_1

da0 = df_arrange[df_arrange["target"] == 0 ]
da1 = df_arrange[df_arrange["target"] == 1 ]

col_lst = df_arrange.columns
print(len(df_arrange))

39641

In [9]:
df_arrange

,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,average_token_length,...,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares,target
0,12,219,0.663594,1.0,0.815385,4,2,1,0,4.680365,...,0.70,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593,0
1,9,255,0.604743,1.0,0.791946,3,1,1,0,4.913725,...,0.70,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711,0
2,9,211,0.575130,1.0,0.663866,3,1,1,0,4.393365,...,1.00,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500,1
3,9,531,0.503788,1.0,0.665635,9,0,1,0,4.404896,...,0.80,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200,0
4,13,1072,0.415646,1.0,0.540890,19,19,20,0,4.682836,...,1.00,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39636,11,346,0.529052,1.0,0.684783,9,7,1,1,4.523121,...,0.75,-0.260000,-0.500,-0.125000,0.100000,0.000000,0.400000,0.000000,1800,1
39637,12,328,0.696296,1.0,0.885057,9,7,3,48,4.405488,...,0.70,-0.211111,-0.400,-0.100000,0.300000,1.000000,0.200000,1.000000,1900,1
39638,10,442,0.516355,1.0,0.644128,24,1,12,1,5.076923,...,0.50,-0.356439,-0.800,-0.166667,0.454545,0.136364,0.045455,0.136364,1900,1
39639,6,682,0.539493,1.0,0.692661,10,1,1,0,4.975073,...,0.50,-0.205246,-0.500,-0.012500,0.000000,0.000000,0.500000,0.000000,1100,0
39640,10,157,0.701987,1.0,0.846154,1,1,0,2,4.471338,...,0.50,-0.200000,-0.200,-0.200000,0.333333,0.250000,0.166667,0.250000,1300,0

In [ ]:
# df_in = df_arrange[["target","data_channel_is_lifestyle","data_channel_is_tech", "data_channel_is_entertainment",
                #    "data_channel_is_bus","data_channel_is_socmed","data_channel_is_world",
                    # "is_weekend"]]
df_in = df_arrange[["target", "data_channel_is_tech", "data_channel_is_socmed", "is_weekend"]]

df_in["data_channel_is_other"] = [1 if (i==0) & (j==0) else 0 for i,j in zip(df_in["data_channel_is_tech"],df_in["data_channel_is_socmed"])]
df_in["is_weekday"] = [1 if i==0 else 0 for i in df_in["is_weekend"]]
df_in = df_in.reindex(columns=["data_channel_is_tech", "data_channel_is_socmed", "data_channel_is_other", "is_weekday", "is_weekend", "target"])
df_in

In [16]:
def back_ctgry(_df, ctgry_list, new_col_name):
    _df[new_col_name] = [j
                         for i in range(len(_df))
                         for j in ctgry_list
                         if _df.loc[i,j]==1]
    return _df

In [18]:
cat1 = df_in.loc[:,"data_channel_is_tech":"data_channel_is_other"].columns.tolist()
# cat2 = df_in.loc[:,"data_channel_is_tech":"data_channel_is_other"].columns.tolist()

df1 = back_ctgry(df_in, cat1, "channel")
df1

,data_channel_is_tech,data_channel_is_socmed,data_channel_is_other,is_weekday,is_weekend,target,channel
0,0,0,1,1,0,0,data_channel_is_other
1,0,0,1,1,0,0,data_channel_is_other
2,0,0,1,1,0,1,data_channel_is_other
3,0,0,1,1,0,0,data_channel_is_other
4,1,0,0,1,0,0,data_channel_is_tech
...,...,...,...,...,...,...,...
39636,1,0,0,1,0,1,data_channel_is_tech
39637,0,1,0,1,0,1,data_channel_is_socmed
39638,0,0,1,1,0,1,data_channel_is_other
39639,0,0,1,1,0,0,data_channel_is_other
39640,0,0,1,1,0,0,data_channel_is_other

In [22]:
df1["daily"] = ["weekend" 
                if df1.loc[i,"is_weekend"]==1 else "weekday"
                for i in range(len(df1))]
df2 = df1[["target","channel","daily"]]
df2

       target                 channel    daily
0           0   data_channel_is_other  weekday
1           0   data_channel_is_other  weekday
2           1   data_channel_is_other  weekday
3           0   data_channel_is_other  weekday
4           0    data_channel_is_tech  weekday
...       ...                     ...      ...
39636       1    data_channel_is_tech  weekday
39637       1  data_channel_is_socmed  weekday
39638       1   data_channel_is_other  weekday
39639       0   data_channel_is_other  weekday
39640       0   data_channel_is_other  weekday

[39641 rows x 3 columns]

In [45]:
cross = pd.crosstab(df2["channel"], df2["daily"])
cross["sum_ind"] = cross.sum(axis=1).tolist()
cross.loc["sum_col"] = cross.sum(axis=0).tolist()
cross

daily                   weekday  weekend  sum_ind
channel
data_channel_is_other     26021     3952    29973
data_channel_is_socmed     2006      317     2323
data_channel_is_tech       6424      921     7345
sum_col                   34451     5190    39641

In [46]:
print(cross/39641)

daily                    weekday   weekend   sum_ind
channel
data_channel_is_other   0.656416  0.099695  0.756111
data_channel_is_socmed  0.050604  0.007997  0.058601
data_channel_is_tech    0.162054  0.023234  0.185288
sum_col                 0.869075  0.130925  1.000000

In [60]:
week = np.array([[0.869075,0.130925]])
chnl = np.array([[0.756111],[0.058601],[0.185288]])

print(chnl.shape)

pred = chnl*week
pred

(3, 1)

array([[0.65711717, 0.09899383],
       [0.05092866, 0.00767234],
       [0.16102917, 0.02425883]])

In [41]:
df2_target1 = df2[df2["target"]==1]
cross_trg1 = pd.crosstab(df2_target1["channel"], df2_target1["daily"])
# cross_trg1["sum_ind"] = cross_trg1.sum(axis=1).tolist()
# cross_trg1.loc["sum_col"] = cross_trg1.sum(axis=0).tolist()
cross_trg1

daily                   weekday  weekend
channel
data_channel_is_other     11055     2487
data_channel_is_socmed     1399      260
data_channel_is_tech       3624      734

In [42]:
p_trg1 = cross_trg1/cross
# p_trg1["sum_ind"] = p_trg1.sum(axis=1).tolist()
# p_trg1.loc["sum_col"] = p_trg1.sum(axis=0).tolist()
p_trg1

daily                    weekday   weekend
channel
data_channel_is_other   0.424849  0.629302
data_channel_is_socmed  0.697408  0.820189
data_channel_is_tech    0.564134  0.796960

In [61]:
week = np.array([[0.869075,0.130925]])
chnl = np.array([[0.756111],[0.058601],[0.185288]])

print(chnl.shape)

pred = chnl*week
print(pred)

(3, 1)
[[0.65711717 0.09899383]
 [0.05092866 0.00767234]
 [0.16102917 0.02425883]]

In [45]:

def make_cross(_df, _ind, _col, _count):
    
    
    res = DF(index=_ind, columns=_col)

    for col_name in _col:
        for ind_name in _ind:
            res.loc[ind_name,col_name] = sum(_df[(_df[col_name]==1)&(_df==1)])

    res["sum_ind"] = res.sum(axis=1).tolist()
    res.loc["sum_col"] = res.sum(axis=0).tolist()

    return res